@-webkit-keyframes changeVisible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.98;
  }
}
@keyframes changeVisible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.98;
  }
}
@-webkit-keyframes changeVisibleSelect {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
@keyframes changeVisibleSelect {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.field-1 {
  -webkit-animation: changeVisible 2s forwards;
          animation: changeVisible 2s forwards;
}

.field-2 {
  -webkit-animation: changeVisible 2s forwards 0.5s;
          animation: changeVisible 2s forwards 0.5s;
}

.field-3 {
  -webkit-animation: changeVisible 2s forwards 1s;
          animation: changeVisible 2s forwards 1s;
}

.field-4 {
  -webkit-animation: changeVisible 2s forwards 1.5s;
          animation: changeVisible 2s forwards 1.5s;
}

.field-5 {
  -webkit-animation: changeVisible 2s forwards 2s;
          animation: changeVisible 2s forwards 2s;
}

.field-6 {
  -webkit-animation: changeVisible 2s forwards 2.5s;
          animation: changeVisible 2s forwards 2.5s;
}

.field-7 {
  -webkit-animation: changeVisible 2s forwards 3s;
          animation: changeVisible 2s forwards 3s;
}

.field-8 {
  -webkit-animation: changeVisible 2s forwards 3.5s;
          animation: changeVisible 2s forwards 3.5s;
}

#nationality-select {
  -webkit-animation: changeVisibleSelect 3s forwards 1s;
          animation: changeVisibleSelect 3s forwards 1s;
}

#day-select {
  -webkit-animation: changeVisibleSelect 3s forwards 2s;
          animation: changeVisibleSelect 3s forwards 2s;
}

#month-select {
  -webkit-animation: changeVisibleSelect 3s forwards 2s;
          animation: changeVisibleSelect 3s forwards 2s;
}

#year-select {
  -webkit-animation: changeVisibleSelect 3s forwards 2s;
          animation: changeVisibleSelect 3s forwards 2s;
}

#user-icon,
#user-icon-bg {
  position: absolute;
  bottom: 0;
  right: 0;
}

.fill-color path {
  fill: #f9faff;
  stroke: #f9faff;
}

@-webkit-keyframes btn-animation {
  0%, 50%, 100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  10%, 30% {
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
  }
  20%, 40% {
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
  }
}

@keyframes btn-animation {
  0%, 50%, 100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  10%, 30% {
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
  }
  20%, 40% {
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
  }
}
.btn_animation {
  -webkit-animation: btn-animation 1.2s ease-in-out 0s forwards;
          animation: btn-animation 1.2s ease-in-out 0s forwards;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  color: #111111;
  font-family: "Work Sans", sans-serif;
  background-color: #f2f2f2;
}

.wrapper {
  max-width: 665px;
  margin: 0 auto;
}

.form {
  padding-top: 60px;
  display: flex;
}
.form__title {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  color: #fff;
  background-color: #5a61ed;
  min-width: 137px;
  position: relative;
}
.form .title {
  min-width: 166px;
  font-weight: 400;
  font-size: 49px;
  letter-spacing: 0.5px;
  position: absolute;
  bottom: 73px;
  right: -47px;
  transform: rotate(-90deg);
}
.form__inner,
.form .popup {
  padding: 39px 22px 34px;
  background-color: #fff;
  max-width: 528px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  display: flex;
  flex-direction: column;
}
.form__inner-title {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.46px;
  color: #111111;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.form__inner-subtitle {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  word-spacing: -2px;
  line-height: 16px;
  color: #111111;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.form .sign_in {
  z-index: 5;
}

.form .popup-title {
  margin: 178px 300px 11px 43px;
}
.form .popup-subtitle {
  margin-left: 43px;
  margin-bottom: 152px;
}

.input_style {
  width: 234px;
  height: 20px;
  display: block;
  border: none;
  background-color: inherit;
  border-bottom: 1px solid #f2f2f2;
}

.input_style-select {
  height: 20px;
  display: block;
  border: none;
  background-color: inherit;
  border-bottom: 1px solid #f2f2f2;
}

.filed-title-gender,
.filed-title-email,
.filed-title-password,
.filed-title-password-confirmed,
.filed-title-date {
  display: flex;
  gap: 8px;
  align-items: center;
}

.error {
  font-size: 12px;
  line-height: 14px;
  color: #ff2222;
  margin-bottom: 6px;
}

.warning {
  display: none;
  white-space: normal;
  max-width: 234px;
}

.warning-confirmed {
  display: none;
  white-space: normal;
  max-width: 234px;
}

.options__item input[type=radio] {
  display: none;
}

.radio_label {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.radio_label::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 6px;
  border: 0.7px solid #5a61ed;
  cursor: pointer;
}

.radio_label::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #5a61ed;
  border-radius: 50%;
  left: 3px;
  transform: scale(0);
  transition: transform 0.2s ease 0s;
}

.options__item input[type=radio]:checked + .radio_label::after {
  transform: scale(1);
}

.form__main {
  padding-top: 20px;
}

.form__items {
  display: flex;
  gap: 14px;
  height: 42px;
  margin-bottom: 16px;
  position: relative;
}

.form__item {
  display: flex;
  flex-direction: column;
  width: 234px;
  opacity: 0;
}

.form__item.opacity {
  opacity: 1;
  position: relative;
}

.form-field-radio {
  display: flex;
  gap: 20px;
}

.field-nationality {
  width: 234px;
}

.form__main label,
.form-label {
  font-size: 12px;
  line-height: 14px;
  color: #7c7c7c;
  margin-bottom: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.options__item .radio_label {
  font-size: 14px;
  line-height: 16px;
  color: #111111;
}

.form-field {
  position: relative;
  height: 52px;
}

.form-field-selects {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

select {
  border: none;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background-color: inherit;
  border-bottom: 1px solid #f2f2f2;
  position: relative;
  background-image: url(/img/arrow.svg);
  background-repeat: no-repeat;
  background-position: right top 6px;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  color: #111111;
}

.select {
  display: flex;
  flex-direction: column;
  width: 234px;
  height: 20px;
  position: absolute;
  top: 20px;
}

#nationality-select {
  visibility: hidden;
}

#day-select {
  width: 56px;
  margin-right: 6px;
  visibility: hidden;
}

#month-select {
  width: 91px;
  margin-right: 6px;
  left: 64px;
  visibility: hidden;
}

#year-select {
  width: 68px;
  left: 166px;
  visibility: hidden;
}

.select__header {
  display: flex;
  height: 22px;
}

.select__current {
  width: 100%;
  cursor: pointer;
  background-color: inherit;
  border-bottom: 1px solid #f2f2f2;
  position: relative;
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-position: right top 6px;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  color: #111111;
}

.select__body {
  display: none;
  position: absolute;
  z-index: 50;
  left: 0;
  right: 0;
  top: 110%;
  background-color: #fff;
  height: 120px;
  overflow-y: scroll;
  width: 100%;
  scrollbar-width: thin;
  border: 1px solid #f2f2f2;
  border-top: none;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #f2f2f2;
}

.select__item {
  font-size: 14px;
  line-height: 16px;
  color: #111111;
  padding: 4px;
  cursor: pointer;
}

.select__item:hover {
  background-color: #f2f2f2;
}

input {
  font-size: 14px;
  line-height: 16px;
  color: #111111;
}

.select.active .select__body {
  display: block;
}

.form-complete {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 82px;
  font-size: 13px;
}

.signup_btn {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  color: #fff;
  background-color: #5a61ed;
  width: 154px;
  height: 32px;
  border: 0.5px solid #fff;
  padding: 7px 0;
  font-size: 14px;
  cursor: pointer;
}
.signup_btn:hover {
  background-color: #4f54ce;
}
.signup_btn:active {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.empty_field {
  border-bottom: 2px solid #ff2222;
}

.login-link {
  color: #5a61ed;
  line-height: 15px;
  text-decoration: underline;
}
.login-link:hover {
  color: #4f54ce;
}

@media screen and (max-width: 660px) {
  .wrapper {
    padding: 8px;
  }
  .input_style,
#nationality {
    width: 200px;
  }
  .form__title {
    max-width: 90px;
  }
  .form__item {
    width: 200px;
  }
  #day-select {
    width: 40px;
    margin-right: 6px;
  }
  #month-select {
    width: 91px;
    margin-right: 6px;
    left: 50px;
  }
  #year-select {
    width: 50px;
    left: 150px;
  }
  .select {
    width: 200px;
  }
  .form .popup-title {
    margin: 178px 120px 11px 43px;
  }
}
@media screen and (max-width: 600px) {
  .wrapper {
    max-width: 500px;
  }
  .form__items {
    flex-direction: column;
    height: auto;
  }
  .input_style,
#nationality,
.form__item,
.select {
    width: 300px;
  }
  .form-field-selects {
    padding-bottom: 26px;
  }
  .form-complete {
    flex-direction: column;
    gap: 16px;
    padding-top: 40px;
  }
  .form-complete .signup_btn {
    order: -1;
  }
  .field-6 {
    margin-top: 20px;
  }
}
@media screen and (max-width: 520px) {
  .wrapper {
    max-width: 460px;
  }
  .input_style,
#nationality,
.form__item {
    width: 240px;
  }
  .form__inner-subtitle {
    white-space: normal;
  }
  #day-select {
    width: 40px;
    margin-right: 6px;
  }
  #month-select {
    width: 91px;
    margin-right: 6px;
    left: 74px;
  }
  #year-select {
    width: 50px;
    left: 190px;
  }
  .select {
    width: 240px;
  }
}
@media screen and (max-width: 440px) {
  .wrapper {
    max-width: 400px;
  }
  .form {
    padding-top: 16px;
  }
  .form__title {
    min-width: 60px;
  }
  .form__inner,
.form .popup {
    padding: 20px 10px 20px;
  }
  .form-complete {
    padding-top: 20px;
  }
}/*# sourceMappingURL=style.css.map */