@keyframes changeVisible {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.98;
	}
}

@keyframes changeVisibleSelect {
	0% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}

.field-1 {
	animation: changeVisible 2s forwards;
}
.field-2 {
	animation: changeVisible 2s forwards 0.5s;
}
.field-3 {
	animation: changeVisible 2s forwards 1s;
}
.field-4 {
	animation: changeVisible 2s forwards 1.5s;
}
.field-5 {
	animation: changeVisible 2s forwards 2s;
}
.field-6 {
	animation: changeVisible 2s forwards 2.5s;
}
.field-7 {
	animation: changeVisible 2s forwards 3s;
}
.field-8 {
	animation: changeVisible 2s forwards 3.5s;
}

#nationality-select {
	animation: changeVisibleSelect 3s forwards 1s;
}

#day-select {
	animation: changeVisibleSelect 3s forwards 2s;
}
#month-select {
	animation: changeVisibleSelect 3s forwards 2s;
}

#year-select {
	animation: changeVisibleSelect 3s forwards 2s;
}

#user-icon,
#user-icon-bg {
	position: absolute;
	bottom: 0;
	right: 0;
}

.fill-color path {
	fill: #f9faff;
	stroke: #f9faff;
}

//btn animation

@keyframes btn-animation {
	0%,
	50%,
	100% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
	}
	10%,
	30% {
		transform: rotate(-10deg);
		-webkit-transform: rotate(-10deg);
		-moz-transform: rotate(-10deg);
		-o-transform: rotate(-10deg);
		-ms-transform: rotate(-10deg);
	}
	20%,
	40% {
		transform: rotate(10deg);
		-webkit-transform: rotate(10deg);
		-moz-transform: rotate(10deg);
		-o-transform: rotate(10deg);
		-ms-transform: rotate(10deg);
	}
}

.btn_animation {
	animation: btn-animation 1.2s ease-in-out 0s forwards;
}